USE [hello]
GO
/****** Object:  Table [dbo].[faces]    Script Date: 12/11/2017 1:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[faces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[faceSample] [image] NOT NULL,
	[userId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 12/11/2017 1:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [nchar](10) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[faces] ON 

SET IDENTITY_INSERT [dbo].[faces] OFF
