USE [master]
GO
/****** Object:  Database [hello]    Script Date: 4/19/2018 8:23:56 PM ******/
CREATE DATABASE [hello]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hello', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hello.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hello_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hello_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hello].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hello]
GO
/****** Object:  User [akash]    Script Date: 4/19/2018 8:23:56 PM ******/
CREATE USER [akash] FOR LOGIN [akash] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [akash]
GO
/****** Object:  Table [dbo].[course]    Script Date: 4/19/2018 8:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[prof_id] [int] NOT NULL,
	[course_name] [varchar](max) NOT NULL,
	[course_number] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[faces]    Script Date: 4/19/2018 8:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[faces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[faceSample] [image] NOT NULL,
	[userId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[professor]    Script Date: 4/19/2018 8:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[professor](
	[prof_id] [int] IDENTITY(1,1) NOT NULL,
	[prof_name] [varchar](max) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[registered]    Script Date: 4/19/2018 8:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[registered](
	[registered_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[uname] [varchar](max) NOT NULL,
	[date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 4/19/2018 8:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[cwid] [bigint] NOT NULL,
	[uname] [varchar](max) NOT NULL,
	[course_number] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

INSERT [dbo].[course] ([course_id], [prof_id], [course_name], [course_number]) VALUES (1, 1, N'Web Front End Tchnologies', N'CPSC473')
SET IDENTITY_INSERT [dbo].[course] OFF
SET IDENTITY_INSERT [dbo].[faces] ON 

SET IDENTITY_INSERT [dbo].[faces] OFF
SET IDENTITY_INSERT [dbo].[professor] ON 

INSERT [dbo].[professor] ([prof_id], [prof_name], [username], [password]) VALUES (1, N'Bhaviya', N'zz-bgandani', N'NrijZZqkj')
SET IDENTITY_INSERT [dbo].[professor] OFF
SET IDENTITY_INSERT [dbo].[registered] ON 

INSERT [dbo].[registered] ([registered_id], [course_id], [uname], [date]) VALUES (1, 1, N'bhaviya04', CAST(0x0000A8B300000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[registered] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([student_id], [cwid], [uname], [course_number]) VALUES (1, 805624954, N'bhaviya04', N'CPSC473')
SET IDENTITY_INSERT [dbo].[student] OFF
USE [master]
GO
